[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
"autopep8" = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
"psycopg2" = "*"

[requires]
python_version = "3.7"
